body {
   padding-top: 150px;
   background: linear-gradient(to bottom, #FFFFFF, #e3e3e3);
   font-family: 'Montserrat', sans-serif;
   margin: 0;
}

 @media screen and (max-width: 1200px) {
   /* Add your CSS styles for screens less than or equal to 1200px wide */
 }
 
 
 header {
    position: relative;
    height: 150px;
    background-color: #F0F0F0;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
 }

 #web-logo{
   height: auto;
   width: 100px;
   margin-top: 20px;
   margin-left: 30px;
 }
 
 nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 100px;
 }

 #header {
   position: fixed;
   top: 0;
   width: 100%;
   transition: top 0.3s;
   z-index: 100;
 }
 
 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
 }
 
 li {
    margin-left:55px;
    font-size: 24px;
    font-weight: bold;
 }
 
 li:first-child {
    margin-left: 0;
 }
 
 a {
    color: #000;
    text-decoration: none;
}

 .tab-line {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #000;
 }
 
 .header-text {
   position: absolute;
   top: 250%;
   left: 350px;
   transform: translateY(100%);
   animation: slideInFromLeft 1s forwards;
}

.header-content {
    display: flex;
    align-items: flex-end; /* Add this line to align both texts vertically */
}

.header-content h3 {
   animation: slideInFromRight 1s forwards;
}


@keyframes slideInFromLeft {
   0% {
     opacity: 0;
     transform: translateX(-100%);
   }
   100% {
     opacity: 1;
     transform: translateX(0);
   }
 }

 @keyframes slideInFromRight {
   0% {
     opacity: 0;
     transform: translateX(100%);
   }
   100% {
     opacity: 1;
     transform: translateX(0);
   }
 }

 @keyframes slideInFromBottom {
   0% {
     opacity: 0;
     transform: translateY(100%);
   }
   100% {
     opacity: 1;
     transform: translateY(0);
   }
 }

h1 {
    font-size: 32px;
    margin-bottom: 5px;
    
}

h2 {
    font-size: 100px;
    margin-left: 120px;
    margin-top: 0;
    text-shadow: 2.5px 2.5px rgba(0,0,0,0.5); /* Add shadow effect */
}

h3 {
    font-size: 32px; /* Set the same font size as h1 */
    margin-left: 10px; /* Add some space between the texts */
    position: relative; /* Add this line to enable relative positioning */
    top: -65px; /* Add a negative value to move the text up */
}

.navText {
   position: sticky;
   top: 0; /* Adjust this value as needed */
   transition: transform 0.3s ease-in-out;
}


.navText:hover {
   transform: scale(1.1);
   border-radius: 10px;
}
 
 .container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 30px;
    margin-top: 50px;
    
 }
 
 .main-section {
    margin-top: 450px;
    text-align: left;
    animation: slideInFromBottom 3s forwards;
 }
 
 p {
    font-size: 20px;
    line-height: 1.2;
 }

 .weekly-blog-title {
   font-size: 80px;
   text-align: center;
   margin-bottom: 100px;
   margin-top: 100px;
   text-shadow: 2.5px 2.5px rgba(0,0,0,0.5); /* Add shadow effect */
}

.blog-description {
   font-size: 25px;
   margin-top: 20px;
   margin-bottom: 20px;
   text-align: center;
 }
 

.week-entry {
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 100px;
}

.week-title {
   font-size: 60px;
   position: relative;
   top: 500px;
   margin-bottom: 50px;
   margin-left: 0px;
   margin-right: 0px;
   text-shadow: 2.5px 2.5px rgba(0,0,0,0.5); /* Add shadow effect */
}

.week-title:last-child {
   margin-bottom: 50px; /* Override margin-bottom for the last week-title */
}

.week-navigation {
   display: flex;
   justify-content: center;
   margin-top: 90px;
   margin-bottom:50px;
   margin-left: 0px;
   margin-right: 630px;
   text-shadow: 1px 1px rgba(0,0,0,0.5); /* Add shadow effect */
}

.week-navigation ul {
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: space-around;
}

.week-navigation li {
   margin-left: 15px;
   font-size: 20px;
   /*font-weight: bold;*/
}

.week-navigation a {
   color: #000;
   text-decoration: none;
}


.week-text {
   flex-basis: 100%;
   margin-left: 300px;
   margin-right: 0;
   padding-bottom: 20px; /* Add some padding to create space between the text and the underline */
   border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Add a faint underline */
}

.blog-content {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   
}

.faint-line {
   width: 100%;
   height: 1px;
   background-color: rgba(0, 0, 0, 0.1);
   margin-top: 20px;
   margin-bottom: 20px;
}

.design-page-title {
   font-size: 80px;
   text-align: center;
   margin-bottom: 100px;
   margin-top: 100px;
   text-shadow: 2.5px 2.5px rgba(0,0,0,0.5); /* Add shadow effect */
}

.design-description {
   font-size: 25px;
   margin-top: 20px;
   margin-bottom: 0px;
   text-align: center;
 }

 .design-content {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.design-entry {
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 100px;
}

.design-title {
   font-size: 60px;
   position: relative;
   top: 430px;
   margin-bottom: 50px;
   margin-left: -110px;
   margin-right: 0px;
   text-shadow: 2.5px 2.5px rgba(0,0,0,0.5); /* Add shadow effect */
}

.design-title:last-child {
   margin-bottom: 50px; /* Override margin-bottom for the last week-title */
}

.design-section-title {
   font-size: 40px;
   position: relative;
   top: 140px;
   margin-bottom: 50px;
   margin-left: 20px;
   margin-right: 0px;
   text-shadow: 2.5px 2.5px rgba(0,0,0,0.5); /* Add shadow effect */
}

.design-text {
   flex-basis: 100%;
   margin-left: 400px;
   margin-right: 0;
   padding-bottom: 20px; /* Add some padding to create space between the text and the underline */
   border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Add a faint underline */
}

.ixd-title {
   margin-bottom: 50px; /* Adjust as needed */
 } 

.sub-navigation {
   list-style: none;
   padding: 0;
   display: flex;
   flex-direction: column;
   margin-left: -20%;
   position: relative;
   bottom: -620px;
 }
 
 .sub-navigation li {
   margin-bottom: 10px; /* Adjust as needed */
   margin-left: 0;
   padding-left: 0;
 }
 
 .sub-navigation a {
   color: #000;
   text-decoration: none;
 }

#section-title{
   font-size: 40px;
   margin-left: -20;
   margin-bottom: 80px;
   margin-top: 60px;
}

#sub-section-title{
   font-size: 30px;
   margin-bottom: 20px;
}

#design-content-text{
   margin-bottom: 50px;
}

#blog-title{
   font-size: 35px;
   margin-bottom: 50px;
}

#blog-sub-title{
   font-size: 30px;
   margin-bottom: 40px;
   margin-top: 0px;
}

.profile-content-title{
   font-size: 30px;
   margin-top: 200px;
}

.profile-picture-container {
   display: flex;
   justify-content: center;
   align-items: center;
   
}

#profile-picture {
   position: absolute;
   top: 85%;
   left: 50%;
   transform: translate(-50%, -50%);
   height: auto;
   width: 250px;
}

.profile-title{
   font-size: 80px;
   text-align: center;
   margin-bottom: 100px;
   margin-top: 100px;
   text-shadow: 2.5px 2.5px rgba(0,0,0,0.5);
}

#about-me-text{
   margin-left: 200px;
   margin-top: 50px;
}

.profile-entry{
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 100px;
}

.profile-text{
   flex-basis: 100%;
   margin-left: -300px;
   margin-right:800px;
   margin-top: -100px;
   padding-bottom: 20px; /* Add some padding to create space between the text and the underline */
}

.details-content-title{
   font-size: 30px;
   margin-top: -320px;
   margin-left: 845px;
}

.details-section-text{
   flex-basis: 100%;
   margin-left: 650px;
   margin-right: -200px;
   margin-top: -320px;
   padding-bottom: 20px; /* Add some padding to create space between the text and the underline */
}

#details-text{
   margin-left: 200px;
   margin-top: 0px;
}

#details-title-text{
   margin-left: 200px;
   margin-top: 0px;
}

.portfolio-link{
   margin-left: -20px;
   font-size: 30px;
   margin-top: -50px;
}

.portfolio-link:hover{
   transform: scale(1.1);
}

.essay-title{
   font-size: 60px;
   position: relative;
   top: 450px;
   margin-bottom: 50px;
   margin-left: -110px;
   margin-right: 0px;
   text-shadow: 2.5px 2.5px rgba(0,0,0,0.5); /* Add shadow effect */
}

#wireframes{
   height: auto;
   width: 800px;
   margin-bottom: 50px;
}

#back-to-top-btn {
   display: none; /* Hidden by default */
   position: fixed; /* Fixed/sticky position */
   bottom: 20px; /* Place the button at the bottom of the page */
   right: 30px; /* Place the button 30px from the right */
   z-index: 99; /* Make sure it does not overlap */
   border: none; /* Remove border */
   outline: none; /* Remove outline */
   background-color: #000; /* Set a background color */
   color: white; /* Text color */
   cursor: pointer; /* Add a mouse pointer on hover */
   padding: 10px; /* Some padding */
   border-radius: 10px; /* Rounded corners */
   font-size: 18px; /* Increase font size */
}

#back-to-top-btn:hover {
   background-color: #555; /* Add a dark-grey background on hover */
}

.slideshow-container {
   max-width: 1000px;
   position: relative;
   margin: auto;
   height: 500px; /* Adjust this value according to your needs */
 }
 .slideshow-container {
   max-width: 1000px;
   position: relative;
   margin: auto;
   height: 500px; /* Adjust this value according to your needs */
}

/* Hide the images by default */
.mySlides1, .mySlides2 {
   position: absolute;
   visibility: hidden;
   opacity: 0;
   width: 100%;
   height: 500px; /* adjust this value as needed */
   transition: opacity 1s linear, visibility 1s;
}
 
.mySlides1 img, .mySlides2 img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.mySlides1.show, .mySlides2.show {
   visibility: visible;
   opacity: 1;
}

 /* Next & previous buttons */
.prev, .next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   padding: 16px;
   margin-top: -22px;
   color: white;
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
}
 
 /* Position the "next button" to the right */
.next {
   right: 0;
   border-radius: 3px 0 0 3px;
}
 
 /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
   background-color: rgba(0,0,0,0.8);
}